<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite">

  <!-- Sign In Functionality Using DataProvider Test -->
  <test name="SignFunctionalityTestUsingDataProviderDataDrivenTesting">
    <classes>
      <class name="dataDriven.SignInTestUsingExcelDataDriventesting"/>
    </classes>
  </test> <!-- SignFunctionalityTestUsingDataProviderDataDrivenTesting -->
  
  <!-- Sign In Functionality Using Excel DataDriven Test -->
  <test name="SignFunctionalityTestUsingExcelDataDrivenTesting">
    <classes>
      <class name="dataDriven.SignInTestUsingExcelDataDriventesting"/>
    </classes>
  </test> <!-- SignFunctionalityTestUsingExcelDataDrivenTesting -->

  <!-- Login To Dispatch Test -->
  <test name="LoginToDispatchTest">
    <classes>
      <class name="testScenario.LoginPage"/>
    </classes>
  </test> <!-- LoginToDispatchTest -->

  <!-- Cart Test -->
  <test name="CartTest">
    <classes>
      <class name="testScenario.CartAllFunctionalityTest"/>
    </classes>
  </test> <!-- CartTest -->

  <!-- WishList Test -->
  <test name="WishListTest">
    <classes>
      <class name="testScenario.WishListReviewFunctionality"/>
    </classes>
  </test> <!-- WishListTest -->

  <!-- Shopping Options Test -->
  <test name="ShoppingOptionsTest">
    <classes>
      <class name="testScenario.GearBagsPriceSectionFunctionality"/>
      <class name="testScenario.GearBagsStyleSectionFunctionality"/>
      <class name="testScenario.GearFitnessEquipmentPriceSectionFunctionality"/>
      <class name="testScenario.GearFitnessEquipmentCategorySizeSectionFunctionality"/>
      <class name="testScenario.GearWatchesCategorySectionFunctionality"/>
      <class name="testScenario.ShoppingOptionFunctionality"/>
    </classes>
  </test> <!-- ShoppingOptionsTest -->

  <!-- New Account Test -->
  <test name="NewAccountTest">
    <classes>
      <class name="testScenario.NewAccountCreate"/>
    </classes>
  </test> <!-- NewAccountTest -->
  
  <!-- Sign Out Test -->
  <test name="SignOutTest">
    <classes>
      <class name="testScenario.SignOutFunction"/>
    </classes>
  </test> <!-- SignOutTest -->

</suite> <!-- AllTestsSuite -->